{% for invoice in invoices %}
{ "accountId" : "ACC_GEN_{{invoice.accountId}}-{{invoice.wholesaler}}", "orderId" : "INV_GEN_{{invoice.accountId}}", "date" : {{invoice.dateFull}}, "discount" : 1, "itemsQuantity" : 2, "tax" : 1, "subtotal" : 99, "total" : 100, "status" : "DELIVERED", "paymentType" : "CREDIT", "country" : "US", "interestAmount" : 1, "paymentTerm" : 1, "invoiceNumber" : "INV_GEN_{{invoice.timestamp}}", "externalInvoiceId" : "INV_GEN_{{invoice.accountId}}", "vendorId" : "{{invoice.wholesaler}}", "orderDate" : {{invoice.dateFull}}, "items" : [ { "sku" : "SKU_GEN_{{invoice.accountId}}-C-{{invoice.wholesaler}}", "freeGood" : false, "price" : 50, "quantity" : 1, "discount" : 2, "subtotal" : 99, "total" : 100, "tax" : 1 } ], "deleted" : false, "createdDate" : {{invoice.dateFull}}, "updatedDate" : {{invoice.dateFull}}, "channel" : "ABTAPWISERUS", "_class" : "com.abinbev.b2b.invoice.domain.model.Invoice", "hasImage" : null, "poNumber" : null }
{%- endfor %}